
.resizeimage img { width: 100%; }
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 70px; 
    text-align: center; 
    background-color: #eee;
}
.glovalNavigation{
    height: 60px; 
    text-align: center; 
    background-color: #888;
    color: #fff;
}
div a {

    display: inline-block;
  
  }
.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: 10px 0 10px 0;
}
.localNavigation{
    height: 70px;
    text-align: center;
    background-color: #888;
    color: #fff;
}
.footer{
    height: 25px;
    text-align: center;
    background-color: #eee;
}



  html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

div.album{width:90%;margin:0 auto; height: 70px; 
    text-align: center; 
    background-color: #888;
    color: #fff;}
div.album ul,div.album ul li{list-style-type:none;}
div.album ul{text-align:center;text-align:justify;}
div.album ul li{display:inline-block;text-align:left;}



.box {width: 1300px;}
.right {margin-left: auto;}

.content {
    width: 100%;
	display: flex;
	display: -ms-flexbox; /* IE10 */
	flex-wrap: wrap;
	-ms-flex-wrap: wrap; /* IE10 */
}
  }
  
.content > div{
	text-align: center;
	width: 33.33333%;
}
ul.homesty {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

.fade{

    animation: fadeIn 0.2s ease 0.3s 1 normal;
  
  }
  
  @keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
  }

  .shukusho img { width: 80%; }